@import "variables.styl"
@import "grid.styl"
.clearfix
  overflow auto
  _height 1%
.normal
  color $normal!important
.warning
  color $warning!important
.danger
  color $danger!important
.default
  color $sky-blue!important
.text-overflow
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden
.left
  float left
.right
  float right
