//color
$sky-blue          = #5196fb
$red               = #fa6170
$dark              = #2f2f2f   // 重要文字
$lightDark         = #666   // 次要文字
$ash               = #999   // 弱文字
$lightAsh          = #bababa   // 极弱文字
$link              = #06c   // 链接文字
$danger            = #f30   // 警示文字
$theme-color       = $sky-blue
$normal            = #45c551 // 正常
$warning           = #ffa144 // 警告
